/* .footer {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}

.footer__copyright {
  font-size: 14px;
  padding: 30px 0;
}

.footer__copyright p {
  margin: 0;
  line-height: 17px;
} */
