.advert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.advert__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 40px 0 0;
}

.advert__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.advert__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 420px;
  height: 300px;
  background: #f6faff;
  border: 1px dashed #888888;
  transition: all 0.5s ease-out;
}