.header_wrap {
  min-width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  height: 84px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  position: fixed;
  z-index: 3;
  opacity: 90%;
  transition: all 0.5s ease-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  max-width: 1500px;
  padding: 0 50px;
  position: fixed;
  inset: auto 0;
  margin: 0 auto;
  background-color: #FFFFFF;
  z-index: 2;
  transition: all 0.5s ease-out;
}

.header__logo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.header__logo:last-of-type h1 {
  color: black;
}

.header__icon {
  display: flex;
  margin-left: 50px;
}

.header__img {
  width: 38px;
  height: 43px;
}

.header__name {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  margin: 15px 0;
}

.header__cart {
  display: flex;
}

.header__icon_favorite {
  display: flex;
  color: #888888 !important;
  position: relative;
}

.header__icon_favorite_count {
  display: flex;
  align-items: center;
  background-color: #F36223;
  position: absolute;
  color: #FFFFFF;
  border: 1px solid #ffffff;
  height: 16px;
  font-size: 13px;
  line-height: 18px;
  padding: 5px;
  left: calc(100% - 80px);
  top: -25px;
  border-radius: 50%;
  z-index: 2;
  opacity: 1;
}

.header__icon_favorite svg {
  position: absolute;
  left: -100px;
  width: 31px;
  height: 31px;
  top: -20px;
}

.header__icon_favorite:hover svg path {
  fill: #F36223;
  color: #F36223;
}

.header__icon_favorite svg:active path {
  fill: #A93A09;
  color: #A93A09;
}

.header__icon_cart {
  display: flex;
  color: #888888 !important;
  position: relative;
}

.header__icon_cart_count {
  display: flex;
  align-items: center;
  background-color: #F36223;
  position: absolute;
  color: #FFFFFF;
  border: 1px solid #ffffff;
  height: 16px;
  font-size: 13px;
  line-height: 18px;
  padding: 5px;
  left: calc(100% - 23px);
  top: -23px;
  border-radius: 50%;
  opacity: 1;
}

.header__icon_cart svg {
  fill: #888888;
  position: absolute;
  top: -20px;
  left: -45px;
  width: 31px;
  height: 31px;
}

.header__icon_cart:hover svg path {
  fill: #F36223;
  color: #F36223;
}

.header__icon_cart svg:active path {
  fill: #A93A09;
  color: #A93A09;
}

.colortext {
  color: #f52;
}

@media (max-width: 1499px) {

  .header {
    max-width: 1024px;
    padding: 0 15px;

  }
}

@media (max-width: 790px) {

  .header_wrap {
    height: 50px;
  }

  .header__logo {
    gap: 5px;
  }

  .header {
    max-width: 360px;
    padding: 0px 10px;
    gap: 0px;
    margin: 0 auto;
  }

  .header__name {
    font-size: 32px;
    line-height: inherit;
    margin: 7px 0;
  }

  .header__img {
    width: 23px;
    height: 30px;
  }

  .header__icon_favorite svg {
    width: 26px;
    height: 42px;
    left: -72px;
  }

  .header__icon_favorite_count {
    height: 15px;
    font-size: 12px;
    padding: 0px 5px;
    left: calc(100% - 55px);
    top: -15px;
  }

  .header__icon_cart svg {
    width: 26px;
    height: 41px;
    left: -30px;
  }

  .header__icon_cart_count {
    height: 15px;
    font-size: 12px;
    padding: 0px 5px;
    top: -15px;
    line-height: 16px;
    left: calc(100% - 10px);
  }
}