/* Advertising */

.ads {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ads__wrapper {
  background: url(../img/innopolis.png) center no-repeat;
  background-size: cover;
  width: 280px;
  height: 280px;
}

.ads__wrapper a img {
  width: 100%;
  height: 100%;
}