.center-wrap {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  gap: 100px;
  transition: all 0.5s ease-out;
}

.center-wrap__left {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  max-width: 880px;
  gap: 30px;
  transition: all 0.5s ease-out;
}

.center-wrap__right {
  display: flex;
  flex-flow: column wrap;
  max-width: 420px;
  transition: all 0.5s ease-out;
}

.feedback-form {
  margin-bottom: 100px;
}

.feedback__list {
  display: flex;
  flex-direction: column;
}

.feedback-margin-left {
  margin-left: 170px;
}

.feedback__list h3 {
  font-weight: 700;
  margin: 0;
  padding-bottom: 30px;
}

.feedback__contact {
  display: flex;
  position: relative;
  flex-direction: column;
}

.feedback__fields {
  display: flex;
  position: relative;
  gap: 40px;
}

.feedback__error {
  display: flex;
  position: relative;
  gap: 40px;
  min-height: 45px;
}

.feedback__name-error {
  position: relative;
  width: 100%;
  height: 100%;
}

.feedback__error-name {
  background: #DA4A0C;
  display: flex;
  width: 100%;
  color: #fff;
  padding: 13px 20px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.name-invisible {
  background: #DA4A0C;
  display: flex;
  width: 100%;
  color: #fff;
  padding: 13px 20px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.feedback__rating-error {
  position: relative;
  width: 25%;
  height: 100%;
}

.feedback__error-rating {
  background: #DA4A0C;
  display: flex;
  width: 25%;
  color: #fff;
  padding: 5px 20px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.rating-invisible {
  background: #DA4A0C;
  display: flex;
  width: 25%;
  color: #fff;
  padding: 5px 20px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.feedback__name {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.feedback__rating {
  padding: 15px 20px;
  width: 25%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.feedback__name:hover,
.feedback__rating:hover,
.feedback__textarea:hover {
  outline: 1px solid #888888;
}

.feedback__text {
  max-width: 710px;
  height: 190px;
  padding-bottom: 30px;
}

.feedback__textarea {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  resize: none;
}

.feedback__button {
  width: 180px;
  height: 40px;
  background: #F36223;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  cursor: pointer
}

.feedback__button:hover {
  background: #da4a0C;
  border-radius: 4px;
  cursor: pointer;
}

.feedback__button:active {
  background: #A93A09;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  border: 2px solid #DA4A0C;
  opacity: 1;
}